

NET "DIP_SW0" LOC = AB23;
NET "DIP_SW1" LOC = AA21;
NET "DIP_SW2" LOC = AA22;
NET "DIP_SW3" LOC = AB22;
NET "DIP_SW4" LOC = AC22;
NET "LED0" LOC = AA23;
NET "LED1" LOC = AA24;
NET "LED2" LOC = AB25;
