
# PlanAhead Generated physical constraints 

NET "DIP_SW0" LOC = AB23;
NET "DIP_SW1" LOC = AA21;
NET "DIP_SW2" LOC = AA22;
NET "DIP_SW3" LOC = AB22;
NET "DIP_SW4" LOC = AC22;
NET "DIP_SW5" LOC = W15;
NET "DIP_SW6" LOC = W16;
NET "DIP_SW7" LOC = AA20;
NET "LED0" LOC = AA23;
NET "LED1" LOC = AA24;
NET "LED2" LOC = AB25;
NET "LED3" LOC = AB26;
NET "LED4" LOC = Y20;
NET "LED7" LOC = AC26;
NET "PSW0" LOC = AD15;
